body {
    color: #000000;
    background: url('fuct.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    cursor: default;
    overflow: hidden;
    font-size: 14px;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a, a:active, a:link {
    text-decoration: none;
    color: #ffffff;
}

.terminal {
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #000; /* Ensure visibility */
}

.bar {
    border-radius: 5px 5px 0 0;
    background-color: #f6f6f6;
    padding: 5px 8px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
}

.logLine {
    height: 18px;
}

.btn {
    text-decoration: none;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border-radius: 100%;
}

.status {
    text-align: center;
}

.window {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-family: Monaco, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    overflow-y: auto;  /* Enable scrolling */
    min-height: 320px;
    border-radius: 0 0 5px 5px;
    max-height: 500px; /* Optional: limit the max height */
}

.dir {
    color: #FF0000;
    font-weight: bold;
}

.dir:before {
    content: '➜'; /* Correct arrow symbol */
    color: #FF0000;
    margin-right: 10px;
}

.userInput {
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    color: white;
    font-family: inherit;
    outline: none;
    overflow: auto;
    box-shadow: none;
    height: 20px;
    width: 90%;
}

.btnclose {
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #FC625C;
    border: 1px solid #fb322a;
}

.btnhide {
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #FDC141;
    border: 1px solid #fdb928;
}

.btnfull {
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #35CC4b;
    border: 1px solid #2aa43b;
}
